/*GLOBAL CLASS*/
@import './styles/variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: (linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%));
  color: $textColor;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  height: 100vh;
}

.cont {
  max-width: 600px;
  margin: 0 auto;
}
